.header {
    width: 1920px;
    background-color: #F6F9FF;
}

.nav-logo {
    position: absolute;
    top: 25px;
    left: 250px;
}

.logo-primary {
    color: #FF965A;
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 7.276px;
    text-transform: uppercase;
}

.logo-secondary {
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 7.276px;
    text-transform: uppercase;
}

.header-container {
    background-image: url(../assets/HeaderBackground.jpg);
    width: 1920px;
    height: 845px;
}

.nav-container {
    display: flex;
}

.nav-items {
    position: absolute;
    top: 25px;
    left: 957px;
}

.nav-item {
    color: #FFF;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-list {
    list-style-type: none;
    display: flex;
    column-gap: 51px;
}

.nav-link {
    text-decoration: none;
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.description-container {
    position: absolute;
    top: 169px;
    left: 1114px;
    width: 500px;
    height: 242px;
}

.main-text {
    color: #FFF;
    font-family: var(--main-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
}

.sub-text1,
.sub-text2 {
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 47px;
    font-style: normal;
    font-weight: 900;
    line-height: 61px;
    position: relative;
}

.sub-text1::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 43%;
    transform: translateX(-50%);
    width: 375px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 29px;
    background: linear-gradient(to right, #FF965A, rgba(255, 150, 90, 0));
}

.sub-text2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 25%;
    transform: translateX(-50%);
    width: 275px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 29px;
    background: linear-gradient(to right, #FF965A, rgba(255, 150, 90, 0));
}

.services-container {
    margin-top: 48rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 333px;
    height: 360px;
    border-radius: 5px;
    background: #FFF;
    margin-left: 15px;
    box-shadow: 18px 18px 11.5px 0px rgba(68, 110, 194, 0.16);
}

.service-icon {
    margin-top: 20px;
    background-color: #9D5DF9;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 18px 18px 12px rgba(0, 0, 0, 0.2);
}

.services-title {
    margin-top: 20px;
    width: 251px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-divider {
    border-radius: 65px;
    background: #9D5DF9;
    width: 23px;
    height: 5px;
    margin-top: 15px;
    left: 50%;
}

.services-description {
    margin-top: 30px;
    width: 221px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-container {
    margin-top: 25rem;
    background-color: #F6F9FF;
    display: flex;
    flex-direction: column;
    align-items: center
}

.product-subtitle {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 321px;
    color:  #000;
    text-align: center;
    font-family: var(--main-font);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
}

.product-title {
    width: 255px;
    height: 53px;
    border-radius: 178px;
    background: #446EC2;
    color: #FFF;
    text-align: center;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.product-info {
    display: flex;
}

.product-item-icon {
    margin-left: 30px;
    width: 71px;
    height: 71px;
    background-color: #64C574;
    border-radius: 50%;
    box-shadow: 18px 18px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item-title {
    width: 289px;
    margin-left: 40px;
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.product-item {
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
    width: 455px;
    height: 117px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 18px 18px 11.5px 0px rgba(68, 110, 194, 0.07);
}

.product-button {
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 281px;
    height: 69px;
    border: none;
    border-radius: 58px;
    box-shadow: 0 9px 8px 0 rgba(255, 150, 90, 0.36);
    background-color: #FF965A;
    color: white;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

