.header {
    background-color: #F6F9FF;
}

.nav-logo {
    margin-left: 10rem;
}

.logo-primary {
    color: #FF965A;
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 7.276px;
    text-transform: uppercase;
}

.logo-secondary {
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 7.276px;
    text-transform: uppercase;
}

.header-container {
    background-image: url(../assets/HeaderBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 845px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    column-gap: 51px;
}

.nav-link {
    text-decoration: none;
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.description-container {
    position: absolute;
    top: 169px;
    left: 1114px;
    width: 500px;
    height: 242px;
}

.main-text {
    color: #FFF;
    font-family: var(--main-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
}

.sub-text1,
.sub-text2 {
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 47px;
    font-style: normal;
    font-weight: 900;
    line-height: 61px;
    position: relative;
}

.sub-text1::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 43%;
    transform: translateX(-50%);
    width: 375px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 29px;
    background: linear-gradient(to right, #FF965A, rgba(255, 150, 90, 0));
}

.sub-text2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 25%;
    transform: translateX(-50%);
    width: 275px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 29px;
    background: linear-gradient(to right, #FF965A, rgba(255, 150, 90, 0));
}

.services-container {
    margin-top: 45rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 333px;
    height: 360px;
    border-radius: 5px;
    background: #FFF;
    margin-left: 15px;
    box-shadow: 18px 18px 11.5px 0 rgba(68, 110, 194, 0.16);
}

.service-icon {
    margin-top: 20px;
    background-color: #9D5DF9;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 18px 18px 12px rgba(0, 0, 0, 0.2);
}

.services-title {
    margin-top: 20px;
    width: 251px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-divider {
    border-radius: 65px;
    background: #9D5DF9;
    width: 23px;
    height: 5px;
    margin-top: 15px;
    left: 50%;
}

.services-description {
    margin-top: 30px;
    width: 221px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (max-width: 1560px)  {
    .header-container {
        height: 700px;
    }

    .description-container {
        position: relative;
        z-index: 1;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
        width: auto;
    }


    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        margin-left: 4rem;
    }

    .services-container {
        margin-top: 20rem;
    }
}

@media only screen and (max-width: 1280px)  {
    .product-info {
        flex-direction: column;
        align-items: center;
    }

    .product-info-image {
        height: 300px;
        width: 400px;
        margin-bottom: 30px;
    }

    .services-container {
        flex-direction: column;
    }

    .header-container {
        height: 700px;
    }

    .description-container {
        position: relative;
        z-index: 1;
        left: 30%;
        transform: translate(-50%, -50%);
        width: auto;
    }


    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-container {
        flex-direction: column;

    }

    .services-container {
        background-color: #F6F9FF;
        gap: 23px;
        padding-top: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        column-gap: 21px;
    }


    .sub-text1::after {
        left: 48%;
        width: 375px;
    }

    .sub-text2::after {
        left: 48%;
        width: 375px;
    }
}

@media only screen and (max-width: 1000px)  {
    .description-container {
        top: 40%;
        left: 40%;
    }

    .nav-link {
        padding: 10px 0 0 20px;
    }

    .navbar {
        position: absolute;
        z-index: 2;
        width: 100%;
    }
}

@media (max-width: 991px) {
    .navbar.bg-transparent {
        background-color: #212529 !important;
    }
}

@media only screen and (max-width: 755px)  {
    .description-container {
        left: 40%;
    }
}


@media only screen and (max-width: 576px)  {
    .description-container {
        top: 50%;
        left: 50%;
    }


    .service-item {
        width: 300px;
        height: 360px;
    }

    .header-container {
        height: 650px;
    }

    .main-text,
    .sub-text1,
    .sub-text2 {
        font-size: 36px;

    }

    .sub-text1::after {
        width: 275px;
    }

    .sub-text2::after {
        bottom: -10px;
        width: 275px;
    }
}

@media only screen and (max-width: 400px)  {
    .nav-logo {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 360px)  {
    .nav-logo {
        margin-left: 0;
    }

    .logo-primary,
    .logo-secondary {
        font-size: 26px;
    }
}
