.podcast {
    background-color: #F6F9FF;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.podcast-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.podcast-header {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 221px;
    height: 53px;
    border-radius: 178px;
    background: #446EC2;
    color: #FFF;
    text-align: center;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.podcast-content {
    display: flex;
    margin-bottom: 5rem;
}

.podcast-list-item {
    cursor: pointer;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.podcast-container {
    position: relative;
}

.podcast-arrows {
    position: absolute;
    bottom: -7rem;
}

.podcast-image {
    margin-left: 70px;
    margin-right: 50px;
}

.podcast-arrow-left {
    margin-left: 50px;
}

.podcast-arrow-left,
.podcast-arrow-right {
    cursor: pointer;
}

.podcast-title {
    margin-top: 20px;
    width: 553px;
    color: #171717;
    font-family: var(--main-font);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.podcast-subtitle {
    margin-top: 20px;
    width: 436px;
    color: #171717;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.podcast-audio {
    width: 80%;
    margin-top: 40px;
}

.podcast-list-item.active {
    font-weight: bold;
    position: relative;
}

.podcast-list-item.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 45%;
    transform: translateX(-50%);
    width: 86px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 29px;
    background: #446EC2;
}

@media only screen and (max-width: 1200px)  {
    .podcast-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .podcast-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .podcast-arrows {
        margin-top: 1rem;
    }

    .podcast-title {
        padding-top: 1rem;
    }

    .podcast-audio {
        max-width: 500px;
    }

    .podcast-title,
    .podcast-subtitle {
        width: auto;
    }

    .podcast-subtitle {
        padding: 10px;
    }

    .podcast-arrows {
        display: none;
    }
}

@media only screen and (max-width: 580px)  {
    .podcast-header {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .podcast-container {
        margin-bottom: 0;
    }
}