.footer-main-container {
    background: #30559E;
}

.footer-body {
    padding-bottom: 2.5rem;
}

.footer-logo {
    padding-top: 2rem;
}

.footer-nav {
    padding-top: 1rem;
}

.footer-link {
    text-decoration: none;
}

.footer-logo-primary {
    color: #FF965A;
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 7.276px;
    text-transform: uppercase;
}

.footer-logo-secondary {
    color: #FFF;
    font-family: var(--main-font);
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 7.276px;
    text-transform: uppercase;
}

.footer-nav-item,
.footer-nav-item-active {
    margin: 0 10px;
    color:  #FFF;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-nav-item-active {
    cursor: pointer;
}

.border-right {
    border-right: 1px solid white;
}

.line {
    width: 1px;
    height: 11px;
    border-right: 1px solid white;
    margin-top: 3px;
}

@media only screen and (max-width: 576px)  {
    .f-direction {
        flex-direction: column;
    }

    .line {
        display: none;
    }
}